[submodule "External/Catch"]
	path = External/Catch
	url = https://github.com/philsquared/Catch.git
	branch = catch2
[submodule "External/rang"]
	path = External/rang
	url = https://github.com/agauniyal/rang.git
[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb.git
[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "External/concurrentqueue"]
	path = External/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "External/easy_profiler"]
	path = External/easy_profiler
	url = https://github.com/manimax3/easy_profiler.git
